.quiz-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-quiz-form {
    height: 70vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    border-radius: 1em;
}

.quiz-detail-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.quiz-detail-form form {
    height: 100%;
}

.desc {
    height: 10vh;
    resize: none;
}

